<nav class="navbar sticky-top navbar-expand-lg">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarOptions"
    aria-controls="navbarOptions"
    aria-expanded="false"
    aria-label="Toggle navigation"
    id="navbarButton"
  >
    <i class="fas fa-bars" id="navbarIcon"></i>
  </button>

  <a href="/">
    <img id="logo1" src="LogoBlaDer.png" alt="LogoBlaDer">
    <img id="logo2" src="LogoBla.png" alt="LogoBla">
  </a>
  
  <a
    class="navbar-btn btn btn-primary btn-md"
    href="/login"
    role="button"
    id="loginButton1"
    >Iniciar Sesión</a
  >

  <div class="collapse navbar-collapse" id="navbarOptions">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/">Inicio</a>
      <a class="nav-link" href="/#acciones">Servicio</a>
      <a class="nav-link" href="/#faq">Preguntas</a>
      <a class="nav-link" href="/#contacto">Contacto</a>
    </div>
  </div>

  <a
    class="navbar-btn btn btn-primary btn-md"
    href="/login"
    role="button"
    id="loginButton2"
    >Iniciar Sesión</a
  >
</nav>
