<% if (typeof messageError !== "undefined") { %>
    <div class="alert-messages alert alert-danger" role="alert">
        <h5><%=  messageError %></h5> 
    </div>
<% } %>

<% if (typeof messageExito !== "undefined") { %>
    <div class="alert-messages alert alert-success"  role="alert">
        <h5><%=  messageExito %></h5> 
    </div>
<% } %>

